day3/a-notes/flows-mar-gmi-bda-cs1-1sensor.json
[
    {
        "id": "8e4046b8.c1b638",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ed1cca4.51c633",
        "type": "ui_chart",
        "z": "8e4046b8.c1b638",
        "name": "",
        "group": "b1cad053.a69ef",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 890,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ae660fac.3cef2",
        "type": "function",
        "z": "8e4046b8.c1b638",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar read1 = parseInt(output[0]);\nvar msg = {payload : read1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 140,
        "wires": [
            [
                "1ed1cca4.51c633",
                "bacdf265.91ca7"
            ]
        ]
    },
    {
        "id": "a1496224.5ca95",
        "type": "serial in",
        "z": "8e4046b8.c1b638",
        "name": "",
        "serial": "fe2b9559.4ffcf8",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "ae660fac.3cef2"
            ]
        ]
    },
    {
        "id": "bacdf265.91ca7",
        "type": "debug",
        "z": "8e4046b8.c1b638",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "b1cad053.a69ef",
        "type": "ui_group",
        "z": "",
        "name": "Plot #1",
        "tab": "1aca1160.c1f4ef",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fe2b9559.4ffcf8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/tty.usbmodem14201",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "1aca1160.c1f4ef",
        "type": "ui_tab",
        "z": "",
        "name": "Smart Argiculture System",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]