day3/a-notes/flows-mar-gmi.bda-cs1-2sensors.json
[{"id":"35d4244a.b0070c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"48fe2ce6.301524","type":"debug","z":"35d4244a.b0070c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"4e39b81a.b628e8","type":"serial in","z":"35d4244a.b0070c","name":"","serial":"3df968c8.61f608","x":190,"y":220,"wires":[["5b4c099a.1437d8","d9c23bbe.319628"]]},{"id":"d9c23bbe.319628","type":"function","z":"35d4244a.b0070c","name":"Humid","func":"var output = msg.payload.split(\",\");\n\nvar velimp = parseInt(output[0]);\n//var angle  = parseInt(output[0]);\n\n\nvar msg = {payload : velimp};\n//var msg2 = {payload : angle};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["48fe2ce6.301524","7de09f6a.3c003"]]},{"id":"5b4c099a.1437d8","type":"function","z":"35d4244a.b0070c","name":"Temp","func":"var output = msg.payload.split(\",\");\n\n//var velimp = parseInt(output[0]);\nvar angle  = parseInt(output[1]);\n\n\n//var msg2 = {payload : velimp};\nvar msg = {payload : angle};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":300,"wires":[["92700222.6a72a","21dbdf9d.748e2","7c6b2841.242218"]]},{"id":"92700222.6a72a","type":"debug","z":"35d4244a.b0070c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":280,"wires":[]},{"id":"7de09f6a.3c003","type":"ui_gauge","z":"35d4244a.b0070c","name":"Humidity at CL412","group":"29729a43.963306","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":200,"wires":[]},{"id":"21dbdf9d.748e2","type":"ui_chart","z":"35d4244a.b0070c","name":"Temperature at CL412","group":"31873c4a.e801c4","order":1,"width":0,"height":0,"label":"Temp (°C) ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":520,"y":320,"wires":[[]]},{"id":"7c6b2841.242218","type":"ui_text","z":"35d4244a.b0070c","group":"31873c4a.e801c4","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":440,"wires":[]},{"id":"3df968c8.61f608","type":"serial-port","z":"","serialport":"/dev/tty.usbmodem14201","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"29729a43.963306","type":"ui_group","z":"","name":"Humidity","tab":"bc58427.54972c","order":1,"disp":true,"width":4,"collapse":false},{"id":"31873c4a.e801c4","type":"ui_group","z":"","name":"Temperature","tab":"bc58427.54972c","order":2,"disp":true,"width":"4","collapse":false},{"id":"bc58427.54972c","type":"ui_tab","z":"","name":"lab2","icon":"dashboard","disabled":false,"hidden":false}]