day3/a-notes/flows (4).json
[{"id":"59a873d3.b35cec","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"155232b6.6aa4cd","type":"serial in","z":"59a873d3.b35cec","name":"","serial":"f8a80a0e.673f68","x":150,"y":220,"wires":[["12417dc2.aa1eb2"]]},{"id":"12417dc2.aa1eb2","type":"function","z":"59a873d3.b35cec","name":"","func":"var output = msg.payload.split(\",\");\n\nvar moist1 = parseInt(output[0]);\n\nmsg = {payload : moist1};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["ecde62f5.390e2"]]},{"id":"ecde62f5.390e2","type":"ui_chart","z":"59a873d3.b35cec","name":"","group":"2d21352d.ebcc4a","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":280,"wires":[[]]},{"id":"f8a80a0e.673f68","type":"serial-port","z":"","serialport":"/dev/tty.usbmodem14201","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2d21352d.ebcc4a","type":"ui_group","z":"","name":"Plot 1","tab":"eedd5e83.6ae44","order":1,"disp":true,"width":"6","collapse":false},{"id":"eedd5e83.6ae44","type":"ui_tab","z":"","name":"Soil Moisture Monitoring System","icon":"dashboard","order":4,"disabled":false,"hidden":false}]