libs/flows (13)-mar22-structured-dht-esp.json
[
    {
        "id": "661ccf50.20362",
        "type": "tab",
        "label": "DHT11 - mysql",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9c2ecb0e.ea2728",
        "type": "debug",
        "z": "661ccf50.20362",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "11a05a36.df1ac6",
        "type": "serial in",
        "z": "661ccf50.20362",
        "name": "",
        "serial": "a6845385.4ab4e",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "eea2f52a.756b08",
                "6a3095d0.1253cc",
                "65a6300c.91ba8"
            ]
        ]
    },
    {
        "id": "6a3095d0.1253cc",
        "type": "function",
        "z": "661ccf50.20362",
        "name": "Humid",
        "func": "var output = msg.payload.split(\",\");\n\nvar velimp = parseInt(output[0]);\n//var angle  = parseInt(output[0]);\n\n\nvar msg = {payload : velimp};\n//var msg2 = {payload : angle};\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "9c2ecb0e.ea2728",
                "f6527fd7.6cdf3"
            ]
        ]
    },
    {
        "id": "eea2f52a.756b08",
        "type": "function",
        "z": "661ccf50.20362",
        "name": "Temp",
        "func": "var output = msg.payload.split(\",\");\n\n//var velimp = parseInt(output[0]);\nvar angle  = parseInt(output[1]);\n\n\n//var msg2 = {payload : velimp};\nvar msg = {payload : angle};\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "f3411cef.b33bd",
                "f1f5abe9.db9f18",
                "2bf4c459.7a324c"
            ]
        ]
    },
    {
        "id": "f3411cef.b33bd",
        "type": "debug",
        "z": "661ccf50.20362",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "f6527fd7.6cdf3",
        "type": "ui_gauge",
        "z": "661ccf50.20362",
        "name": "Humidity at CL412",
        "group": "8a0ee895.a21988",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "f1f5abe9.db9f18",
        "type": "ui_chart",
        "z": "661ccf50.20362",
        "name": "Temperature at CL412",
        "group": "8c1b2541.96f538",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp (°C) ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 520,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2bf4c459.7a324c",
        "type": "ui_text",
        "z": "661ccf50.20362",
        "group": "8c1b2541.96f538",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "a2d551bf.64373",
        "type": "mysql",
        "z": "661ccf50.20362",
        "mydb": "e2373d64.93b03",
        "name": "",
        "x": 290,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "65a6300c.91ba8",
        "type": "function",
        "z": "661ccf50.20362",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\n\nvar humid = parseInt(output[0]);\nvar temp  = parseInt(output[1]);\nmsg.topic=\"INSERT INTO plot_1 (humidV, tempV) VALUES (?,?)\"\nmsg.payload = [output[0], output[1]];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "a2d551bf.64373",
                "1aac97f4.e55f28"
            ]
        ]
    },
    {
        "id": "1aac97f4.e55f28",
        "type": "debug",
        "z": "661ccf50.20362",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 560,
        "wires": []
    },
    {
        "id": "a6845385.4ab4e",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/tty.usbmodem14201",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "8a0ee895.a21988",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "9776c923.2e98e8",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "8c1b2541.96f538",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "9776c923.2e98e8",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "e2373d64.93b03",
        "type": "MySQLdatabase",
        "z": "",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "moist_level_info",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "9776c923.2e98e8",
        "type": "ui_tab",
        "z": "",
        "name": "lab2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]