libs/flows (6).json
[{"id":"bac65c23.74b21","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1c057498.f326ab","type":"debug","z":"bac65c23.74b21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"70291b26.ad9e44","type":"serial in","z":"bac65c23.74b21","name":"","serial":"a674939a.de6d1","x":190,"y":220,"wires":[["8289256.014bfd8","5285227e.00726c"]]},{"id":"5285227e.00726c","type":"function","z":"bac65c23.74b21","name":"Humid","func":"var output = msg.payload.split(\",\");\n\nvar velimp = parseInt(output[0]);\n//var angle  = parseInt(output[0]);\n\n\nvar msg = {payload : velimp};\n//var msg2 = {payload : angle};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["1c057498.f326ab","9d0bbc0b.d35ba"]]},{"id":"8289256.014bfd8","type":"function","z":"bac65c23.74b21","name":"Temp","func":"var output = msg.payload.split(\",\");\n\n//var velimp = parseInt(output[0]);\nvar angle  = parseInt(output[1]);\n\n\n//var msg2 = {payload : velimp};\nvar msg = {payload : angle};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":300,"wires":[["909b5194.dcfe8","dfe43fa5.09c56","88d47994.eee278"]]},{"id":"909b5194.dcfe8","type":"debug","z":"bac65c23.74b21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":280,"wires":[]},{"id":"9d0bbc0b.d35ba","type":"ui_gauge","z":"bac65c23.74b21","name":"Humidity at CL412","group":"9f246d07.8e352","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":200,"wires":[]},{"id":"dfe43fa5.09c56","type":"ui_chart","z":"bac65c23.74b21","name":"Temperature at CL412","group":"af20372d.328a38","order":1,"width":0,"height":0,"label":"Temp (°C) ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":520,"y":320,"wires":[[]]},{"id":"88d47994.eee278","type":"ui_text","z":"bac65c23.74b21","group":"af20372d.328a38","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":440,"wires":[]},{"id":"a674939a.de6d1","type":"serial-port","z":"","serialport":"/dev/tty.usbmodem14201","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"9f246d07.8e352","type":"ui_group","z":"","name":"Humidity","tab":"ff22fd9e.4e5c3","order":1,"disp":true,"width":4,"collapse":false},{"id":"af20372d.328a38","type":"ui_group","z":"","name":"Temperature","tab":"ff22fd9e.4e5c3","order":2,"disp":true,"width":"4","collapse":false},{"id":"ff22fd9e.4e5c3","type":"ui_tab","z":"","name":"lab2","icon":"dashboard","disabled":false,"hidden":false}]